.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle0 {
  transform: translateX(-60px);
  transition: all 1s ease;
  position: relative;
  bottom: -30px
} 

.circle1 {
  transform: translateX(-120px);
  transition: all 1s ease;

  position: relative;
  bottom: -30px
}

.circle2 {
  transform: translateX(-180px);
  transition: all 1s ease;

  position: relative;
  bottom: -30px
}

.circle3 {
  transform: translateX(-240px);
  transition: all 1s ease;

  position: relative;
  bottom: -30px
}

/* .bottom-line {
  transform: translateX(-240px);
  transition: all 1s ease;
} */

.icon-hover {
  cursor: pointer;
}


@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

@keyframes bounceAnimation { 
    0% { 
        height: 100px; 
    } 
    40% { 
        height: 70px; 
     } 
      60% { 
        height: 100px; 
     } 
     75% { 
        height: 90px; 
     } 
     100% { 
        height: 100px; 
     } 
} 

.tooltip{
    font-size: 14px;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.dock-second-position {
  animation: fadeInAnimation ease .5s;
  height: 10px;
  transition: all 1s ease;
}

.selected{
    animation: bounceAnimation ease 1.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

svg *{
  pointer-events: none; 
}


.notetag:hover {
    cursor: pointer;
    background-color: "#00B79D";
}

@keyframes snackAnimation { 
    0% { 
      transform: translateY(100px);
    } 
    40% { 
      transform: translateY(-40px);
     } 
      60% { 
        transform: translateY(-40px);
     } 
} 

.snackling{
     animation: snackAnimation ease 1.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.ex {
  cursor: pointer;
}

@keyframes fadeInAnimation { 
    0% { 
      opacity: 0;
    } 
      100% { 
        opacity: 1;
     } 
} 

.fade-in{
  animation: fadeInAnimation ease 1s;
}

@keyframes shrinkAnimation { 
    0% { 
        height: 120px; 
        transform: translateY(0);
    } 
     100% { 
        height: 10; 
        transform: translateY(500);
     } 
} 


.navling-hidden{
  animation: shrinkAnimation ease 1s;
  height: 0; 
}

.quill-editor{
  width: 850px;
  height: 120px;
}

@keyframes expandAnimation { 
    0% { 
        height: 80px; 
    } 
     100% { 
        height: 140px; 
     } 
} 

.expanded {
  animation: expandAnimation ease 1s;
}

@keyframes notexpandAnimation { 
    0% { 
        height: 140px; 
    } 
     100% { 
        height: 80px; 
     } 
} 

.not-expanded {
  animation: notexpandAnimation ease 1s;
}


@keyframes notebooks_animation { 
    0% {    
      transform: translateX(-30px);
    } 
     100% {       
      transform: translateX(0px);
     } 
} 

.notebooks_animation{
  animation: notebooks_animation ease 1s;
}


@keyframes notebooks_line_animation { 
    0% {    
      opacity: 0;
    } 
     100% {       
      opacity: 1;
     } 
} 

.notebooks_line_animation{
  animation: notebooks_line_animation ease 1s;
}


@keyframes tree_shake { 
    0% {    
      transform: rotate(0deg);
    } 
    25% {    
      transform: rotate(1deg);
      transform: translateX(0px);
    } 
    50% {    
      transform: rotate(0deg);
      transform: translateX(5px);
    } 
    100% {    
      transform: rotate(0deg);
      transform: translateX(0px);
    } 
} 

.tree_shake{
  animation: tree_shake ease .5s;
  animation-iteration-count: 3;
}

@keyframes apple_fall { 
    0% {    
      transform: translateY(-110px);
    }
    40%{
      transform: translateY(-110px);
    } 
    45%{
      transform: translateY(-120px);
    }
    46%{
      transform: translateY(-120px);
    }
    64% {       
      transform: translateY(0px);
    } 
    /* 68% {       
      transform: translateY(-30px);
    }  */
    85% {       
      transform: translateY(0px);
    } 
    97% {       
      transform: translateY(0px);
    } 
    100% {       
      transform: translateY(0px);
    } 
} 

.apple_fall{
  animation: apple_fall ease 3s;
}


